@import "index.scss";

.landing {
  a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__title {
    color: $background;
    font-size: 1.5rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1rem;
    color: #85c0f3;
    text-align: center;
    line-height: 1;
  }

  &__image {
    margin-top: 40px;
    width: 100%;
    height: auto;
  }

  &__button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: $tablet) {
  .landing {
    &:nth-child(1) {
      position: fixed;
    }

    &__title {
      margin-top: 40px;
    }

    &__item {
      width: 50%;
      text-align: center;

      &:nth-child(2) {
        margin-top: 40px;
        width: 400px;
        margin-right: 50px;
      }
    }

    &__image {
      margin-top: 40px;
      width: 250px;
      height: auto;
    }
  }
}
